body { text-align: center; font-family: Arial, sans-serif; }
#config { margin: 0 auto; max-width: 800px; }
textarea { width: 100%; }
button { padding: 10px 20px; margin-top: 10px; }
pre { text-align: left; width: 70%; margin: 10px auto; background:#f3f3f3; padding:10px; }
